#identite{
  padding-top: 1%;
  padding-bottom: 1%;
  height: 60%;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
}
.nav-pills .nav-link:not(.active) {
  color: rgb(99, 158, 255);
}
.borders{
  border-left: solid rgb(99, 158, 255) 15px;
  border-right: solid rgb(99, 158, 255) 1px;
  background-color: rgba(213,211,211,0.8);
}
.imgreseau{
  width: 5%;
  height: 5%;
  margin-bottom: 1%;
}
body{
  background-image: url(../img/back.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
h1{
  font-size: 23px;
  text-shadow: 2px 2px 3px black;
  color: rgb(99, 158, 255);
  margin-left: 2%;
}
a{
  font-size: 20px;
  text-shadow: 1px 1px 1px black;
}
li{
  font-size: 17px;
}
.frame{
  background-color: rgba(213,211,211,0.8);
  width: 80%;
  border-left: solid rgb(99, 158, 255) 10px;
  border-right: solid rgb(99, 158, 255) 1px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.frameEx{
  width: 80%;
  border-left: solid rgb(99, 158, 255) 10px;
  border-right: solid rgb(99, 158, 255) 1px;
  padding-top: 2%;
  padding-bottom: 2%;
}
.card-body{
  background-color: rgba(213,211,211,0.8);
}
p{
  margin-left: 5%;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: rgb(99, 158, 255);
    text-shadow: 2px 2px 3px white;
}
